[req]
distinguished_name=dn
x509_extensions=ext
prompt=no
[dn]
CN=192.168.254.155
[ext]
subjectAltName=IP:192.168.254.155
basicConstraints=critical,CA:TRUE
keyUsage=critical,digitalSignature,keyEncipherment,keyCertSign
extendedKeyUsage=serverAuth
